In [1]:
import pandas as pd
df = pd.read_csv('./SURFACE_ASOS_116_MI_2022-01_2022-12_2023.csv', encoding='ANSI')
df.head()

,지점,일시,기온(°C),누적강수량(mm),풍향(deg),풍속(m/s),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(Sec)
0,116,2022-01-01 00:01,-11.9,0.0,7.0,4.6,NaN,NaN,45.9,0,0
1,116,2022-01-01 00:02,-11.9,0.0,7.6,5.1,NaN,NaN,45.7,0,0
2,116,2022-01-01 00:03,-12.0,0.0,9.0,6.0,NaN,NaN,45.6,0,0
3,116,2022-01-01 00:04,-12.0,0.0,7.0,4.1,NaN,NaN,45.6,0,0
4,116,2022-01-01 00:05,-12.0,0.0,5.5,5.8,NaN,NaN,45.2,0,0

In [2]:
df['기온(°C)'].isnull().sum()

785

# *데이터 Null값 확인시 문제 확인 및 해결진행

In [3]:
df['일시'] = pd.to_datetime(df['일시'])
ndf = df.copy()
ndf = ndf[['일시', '기온(°C)', '누적강수량(mm)','습도(%)']]
ndf

                        일시  기온(°C)  누적강수량(mm)  습도(%)
0      2022-01-01 00:01:00   -11.9        0.0   45.9
1      2022-01-01 00:02:00   -11.9        0.0   45.7
2      2022-01-01 00:03:00   -12.0        0.0   45.6
3      2022-01-01 00:04:00   -12.0        0.0   45.6
4      2022-01-01 00:05:00   -12.0        0.0   45.2
5      2022-01-01 00:06:00   -12.0        0.0   45.0
6      2022-01-01 00:07:00   -12.0        0.0   44.8
7      2022-01-01 00:08:00   -11.9        0.0   44.8
8      2022-01-01 00:09:00   -12.0        0.0   44.9
9      2022-01-01 00:10:00   -12.0        0.0   44.7
10     2022-01-01 00:11:00   -12.0        0.0   44.9
11     2022-01-01 00:12:00   -12.0        0.0   44.9
12     2022-01-01 00:13:00   -12.0        0.0   44.4
13     2022-01-01 00:14:00   -12.0        0.0   44.1
14     2022-01-01 00:15:00   -11.9        0.0   44.1
15     2022-01-01 00:16:00   -11.9        0.0   44.4
16     2022-01-01 00:17:00   -11.9        0.0   44.8
17     2022-01-01 00:18:00   -11.9        0.0   45.0
18     2022-01-01 00:19:00   -11.9        0.0   44.9
19     2022-01-01 00:20:00   -11.9        0.0   45.0
20     2022-01-01 00:21:00   -11.9        0.0   45.1
21     2022-01-01 00:22:00   -11.9        0.0   45.2
22     2022-01-01 00:23:00   -11.9        0.0   44.7
23     2022-01-01 00:24:00   -11.9        0.0   44.3
24     2022-01-01 00:25:00   -11.9        0.0   44.3
25     2022-01-01 00:26:00   -12.0        0.0   44.9
26     2022-01-01 00:27:00   -12.0        0.0   44.8
27     2022-01-01 00:28:00   -11.9        0.0   45.0
28     2022-01-01 00:29:00   -11.9        0.0   44.7
29     2022-01-01 00:30:00   -12.0        0.0   44.2
...                    ...     ...        ...    ...
523325 2022-12-31 23:31:00    -1.7        0.0   72.6
523326 2022-12-31 23:32:00    -1.8        0.0   72.3
523327 2022-12-31 23:33:00    -1.7        0.0   71.7
523328 2022-12-31 23:34:00    -1.8        0.0   71.7
523329 2022-12-31 23:35:00    -1.8        0.0   72.4
523330 2022-12-31 23:36:00    -1.7        0.0   72.8
523331 2022-12-31 23:37:00    -1.7        0.0   72.3
523332 2022-12-31 23:38:00    -1.6        0.0   71.4
523333 2022-12-31 23:39:00    -1.6        0.0   71.0
523334 2022-12-31 23:40:00    -1.7        0.0   72.1
523335 2022-12-31 23:41:00    -1.7        0.0   72.9
523336 2022-12-31 23:42:00    -1.7        0.0   73.4
523337 2022-12-31 23:43:00    -1.7        0.0   73.9
523338 2022-12-31 23:44:00    -1.7        0.0   73.8
523339 2022-12-31 23:45:00    -1.7        0.0   73.9
523340 2022-12-31 23:46:00    -1.6        0.0   73.9
523341 2022-12-31 23:47:00    -1.6        0.0   73.9
523342 2022-12-31 23:48:00    -1.6        0.0   73.7
523343 2022-12-31 23:49:00    -1.6        0.0   73.2
523344 2022-12-31 23:50:00    -1.6        0.0   73.1
523345 2022-12-31 23:51:00    -1.7        0.0   73.8
523346 2022-12-31 23:52:00    -1.7        0.0   74.2
523347 2022-12-31 23:53:00    -1.7        0.0   75.0
523348 2022-12-31 23:54:00    -1.7        0.0   75.3
523349 2022-12-31 23:55:00    -1.7        0.0   75.8
523350 2022-12-31 23:56:00    -1.7        0.0   75.7
523351 2022-12-31 23:57:00    -1.7        0.0   76.1
523352 2022-12-31 23:58:00    -1.7        0.0   76.3
523353 2022-12-31 23:59:00    -1.7        0.0   75.7
523354 2023-01-01 00:00:00    -1.7        0.0   75.5

[523355 rows x 4 columns]

In [4]:
# '기온(°C)'열의 Null값 확인하려 하였으나, 한번에 60행 이상 확인 불가함 확인
# 행 전체 확인 가능 코드 사용하여 확인: pd.set_option('display.max_rows', None)
# 22.08.03일 기온(°C)'열 데이터 문제 확인

ndf2 = ndf[ndf['기온(°C)'].isnull()].copy()
ndf2.head()

                       일시  기온(°C)  누적강수량(mm)  습도(%)
95863 2022-03-09 04:41:00     NaN        0.0   97.5
95864 2022-03-09 04:42:00     NaN        0.0   97.4
95865 2022-03-09 04:43:00     NaN        0.0   97.4
95866 2022-03-09 04:44:00     NaN        0.0   97.3
95867 2022-03-09 04:45:00     NaN        0.0   97.3

In [5]:
#datetime 함수로 22.08.03일 기온(°C)'열 데이터만 추려 확인

ndf2['일시'] = pd.to_datetime(ndf2['일시'])

desired_date = pd.to_datetime('2022-08-02').date()
result = ndf2[ndf2['일시'].dt.date == desired_date]
result.sample(10) #해당일 대부분 기온 데이터 없음 확인!

                        일시  기온(°C)  누적강수량(mm)  습도(%)
306206 2022-08-02 07:58:00     NaN       17.0   97.8
305973 2022-08-02 04:05:00     NaN       15.5   97.8
306175 2022-08-02 07:27:00     NaN       16.5   97.8
305980 2022-08-02 04:12:00     NaN       15.5   97.8
306219 2022-08-02 08:11:00     NaN       17.5   97.7
306438 2022-08-02 11:52:00     NaN        NaN   97.8
306256 2022-08-02 08:48:00     NaN       18.0   97.8
306282 2022-08-02 09:14:00     NaN       18.0   97.7
306060 2022-08-02 05:32:00     NaN       16.0   97.7
305920 2022-08-02 03:12:00     NaN       14.0   97.8

In [6]:
result.head() # head & tail함수로 약 오전 2시부터 오후 3시까지 데이터 없음 확인

                        일시  기온(°C)  누적강수량(mm)  습도(%)
305853 2022-08-02 02:05:00     NaN        9.5   97.8
305854 2022-08-02 02:06:00     NaN        9.5   97.8
305855 2022-08-02 02:07:00     NaN       10.0   97.8
305856 2022-08-02 02:08:00     NaN       10.0   97.8
305857 2022-08-02 02:09:00     NaN       10.0   97.8

In [7]:
start_time = '2022-08-02 02:00:00'
end_time = '2022-08-02 02:59:00'
result2 = ndf[(ndf['일시'] >= pd.to_datetime(start_time)) &
            (ndf['일시'] <= pd.to_datetime(end_time))]

In [8]:
result2 
#결과적으로 result2는 '기온(°C)'열에 NaN값이 있는 부분만 추려낸 
#데이터프레임으로 다시 원래 ndf명의 데이터프레임에 반영이 어려움 확인

                        일시  기온(°C)  누적강수량(mm)  습도(%)
305848 2022-08-02 02:00:00    22.8        7.5   98.9
305849 2022-08-02 02:01:00    22.8        8.0   98.9
305850 2022-08-02 02:02:00    22.8        8.5   98.9
305851 2022-08-02 02:03:00    22.8        8.5   98.9
305852 2022-08-02 02:04:00    22.8        9.0   98.9
305853 2022-08-02 02:05:00     NaN        9.5   97.8
305854 2022-08-02 02:06:00     NaN        9.5   97.8
305855 2022-08-02 02:07:00     NaN       10.0   97.8
305856 2022-08-02 02:08:00     NaN       10.0   97.8
305857 2022-08-02 02:09:00     NaN       10.0   97.8
305858 2022-08-02 02:10:00     NaN       10.5   97.8
305859 2022-08-02 02:11:00     NaN       10.5   97.8
305860 2022-08-02 02:12:00     NaN       10.5   97.8
305861 2022-08-02 02:13:00     NaN       11.0   97.8
305862 2022-08-02 02:14:00     NaN       11.0   97.8
305863 2022-08-02 02:15:00     NaN       11.5   97.8
305864 2022-08-02 02:16:00     NaN       11.5   97.8
305865 2022-08-02 02:17:00     NaN       11.5   97.8
305866 2022-08-02 02:18:00     NaN       11.5   97.8
305867 2022-08-02 02:19:00     NaN       11.5   97.7
305868 2022-08-02 02:20:00     NaN       12.0   97.7
305869 2022-08-02 02:21:00     NaN       12.0   97.7
305870 2022-08-02 02:22:00     NaN       12.0   97.8
305871 2022-08-02 02:23:00     NaN       12.0   97.8
305872 2022-08-02 02:24:00     NaN       12.0   97.8
305873 2022-08-02 02:25:00     NaN       12.0   97.8
305874 2022-08-02 02:26:00     NaN       12.0   97.8
305875 2022-08-02 02:27:00     NaN       12.0   97.8
305876 2022-08-02 02:28:00     NaN       12.5   97.8
305877 2022-08-02 02:29:00     NaN       12.5   97.8
305878 2022-08-02 02:30:00     NaN       12.5   97.8
305879 2022-08-02 02:31:00     NaN       12.5   97.8
305880 2022-08-02 02:32:00     NaN       13.0   97.8
305881 2022-08-02 02:33:00     NaN       13.0   97.7
305882 2022-08-02 02:34:00     NaN       13.0   97.7
305883 2022-08-02 02:35:00     NaN       13.0   97.7
305884 2022-08-02 02:36:00     NaN       13.0   97.8
305885 2022-08-02 02:37:00     NaN       13.0   97.8
305886 2022-08-02 02:38:00     NaN       13.5   97.8
305887 2022-08-02 02:39:00     NaN       13.5   97.8
305888 2022-08-02 02:40:00     NaN       13.5   97.8
305889 2022-08-02 02:41:00     NaN       13.5   97.8
305890 2022-08-02 02:42:00     NaN       13.5   97.8
305891 2022-08-02 02:43:00     NaN       13.5   97.7
305892 2022-08-02 02:44:00     NaN       13.5   97.8
305893 2022-08-02 02:45:00     NaN       13.5   97.8
305894 2022-08-02 02:46:00     NaN       13.5   97.8
305895 2022-08-02 02:47:00     NaN       13.5   97.8
305896 2022-08-02 02:48:00     NaN       13.5   97.8
305897 2022-08-02 02:49:00     NaN       13.5   97.8
305898 2022-08-02 02:50:00     NaN       13.5   97.8
305899 2022-08-02 02:51:00     NaN       13.5   97.8
305900 2022-08-02 02:52:00     NaN       13.5   97.8
305901 2022-08-02 02:53:00     NaN       13.5   97.8
305902 2022-08-02 02:54:00     NaN       13.5   97.8
305903 2022-08-02 02:55:00     NaN       13.5   97.8
305904 2022-08-02 02:56:00     NaN       13.5   97.8
305905 2022-08-02 02:57:00     NaN       13.5   97.8
305906 2022-08-02 02:58:00     NaN       13.5   97.7
305907 2022-08-02 02:59:00     NaN       13.5   97.8

방법을 하기와 같이 바꿔 사용

In [9]:
# 실제 Null값에 대한 시간별 온도를 확인하여 하기와 같이 반영 (hourly values)
real_data = [23.9, 23.8, 23.6, 23.5, 23.3, 23.3, 22.9, 22.9, 22.4, 22.4, 22.6, 22.6, 23.0, 22.6]

# null값 시작과 끝 시간 반영
start_time = '2022-08-02 02:00:00'
end_time = '2022-08-02 13:00:00'

# Create a list of hourly timestamps for the specified datetime range
hourly_timestamps = pd.date_range(start=start_time, end=end_time, freq='H')

# Create a list of minute timestamps within the specified hourly range
minute_timestamps = pd.date_range(start=start_time, end=end_time, freq='T')

# Filter the DataFrame 'ndf' to include only the rows within the specified datetime range
filtered_ndf = ndf[(ndf['일시'] >= start_time) & (ndf['일시'] <= end_time)].copy()

# Repeat the 'real_data' values for each minute within the specified hourly range
repeated_real_data = [real_data[i // 60] for i in range(len(minute_timestamps))]

# Update the '기온(°C)' column in the filtered DataFrame with the repeated real data values
filtered_ndf['기온(°C)'] = repeated_real_data[:len(filtered_ndf)]

# Update the corresponding rows in the original DataFrame 'ndf'
ndf.update(filtered_ndf)


ndf

                        일시  기온(°C)  누적강수량(mm)  습도(%)
0      2022-01-01 00:01:00   -11.9        0.0   45.9
1      2022-01-01 00:02:00   -11.9        0.0   45.7
2      2022-01-01 00:03:00   -12.0        0.0   45.6
3      2022-01-01 00:04:00   -12.0        0.0   45.6
4      2022-01-01 00:05:00   -12.0        0.0   45.2
5      2022-01-01 00:06:00   -12.0        0.0   45.0
6      2022-01-01 00:07:00   -12.0        0.0   44.8
7      2022-01-01 00:08:00   -11.9        0.0   44.8
8      2022-01-01 00:09:00   -12.0        0.0   44.9
9      2022-01-01 00:10:00   -12.0        0.0   44.7
10     2022-01-01 00:11:00   -12.0        0.0   44.9
11     2022-01-01 00:12:00   -12.0        0.0   44.9
12     2022-01-01 00:13:00   -12.0        0.0   44.4
13     2022-01-01 00:14:00   -12.0        0.0   44.1
14     2022-01-01 00:15:00   -11.9        0.0   44.1
15     2022-01-01 00:16:00   -11.9        0.0   44.4
16     2022-01-01 00:17:00   -11.9        0.0   44.8
17     2022-01-01 00:18:00   -11.9        0.0   45.0
18     2022-01-01 00:19:00   -11.9        0.0   44.9
19     2022-01-01 00:20:00   -11.9        0.0   45.0
20     2022-01-01 00:21:00   -11.9        0.0   45.1
21     2022-01-01 00:22:00   -11.9        0.0   45.2
22     2022-01-01 00:23:00   -11.9        0.0   44.7
23     2022-01-01 00:24:00   -11.9        0.0   44.3
24     2022-01-01 00:25:00   -11.9        0.0   44.3
25     2022-01-01 00:26:00   -12.0        0.0   44.9
26     2022-01-01 00:27:00   -12.0        0.0   44.8
27     2022-01-01 00:28:00   -11.9        0.0   45.0
28     2022-01-01 00:29:00   -11.9        0.0   44.7
29     2022-01-01 00:30:00   -12.0        0.0   44.2
...                    ...     ...        ...    ...
523325 2022-12-31 23:31:00    -1.7        0.0   72.6
523326 2022-12-31 23:32:00    -1.8        0.0   72.3
523327 2022-12-31 23:33:00    -1.7        0.0   71.7
523328 2022-12-31 23:34:00    -1.8        0.0   71.7
523329 2022-12-31 23:35:00    -1.8        0.0   72.4
523330 2022-12-31 23:36:00    -1.7        0.0   72.8
523331 2022-12-31 23:37:00    -1.7        0.0   72.3
523332 2022-12-31 23:38:00    -1.6        0.0   71.4
523333 2022-12-31 23:39:00    -1.6        0.0   71.0
523334 2022-12-31 23:40:00    -1.7        0.0   72.1
523335 2022-12-31 23:41:00    -1.7        0.0   72.9
523336 2022-12-31 23:42:00    -1.7        0.0   73.4
523337 2022-12-31 23:43:00    -1.7        0.0   73.9
523338 2022-12-31 23:44:00    -1.7        0.0   73.8
523339 2022-12-31 23:45:00    -1.7        0.0   73.9
523340 2022-12-31 23:46:00    -1.6        0.0   73.9
523341 2022-12-31 23:47:00    -1.6        0.0   73.9
523342 2022-12-31 23:48:00    -1.6        0.0   73.7
523343 2022-12-31 23:49:00    -1.6        0.0   73.2
523344 2022-12-31 23:50:00    -1.6        0.0   73.1
523345 2022-12-31 23:51:00    -1.7        0.0   73.8
523346 2022-12-31 23:52:00    -1.7        0.0   74.2
523347 2022-12-31 23:53:00    -1.7        0.0   75.0
523348 2022-12-31 23:54:00    -1.7        0.0   75.3
523349 2022-12-31 23:55:00    -1.7        0.0   75.8
523350 2022-12-31 23:56:00    -1.7        0.0   75.7
523351 2022-12-31 23:57:00    -1.7        0.0   76.1
523352 2022-12-31 23:58:00    -1.7        0.0   76.3
523353 2022-12-31 23:59:00    -1.7        0.0   75.7
523354 2023-01-01 00:00:00    -1.7        0.0   75.5

[523355 rows x 4 columns]

In [10]:
start_time = '2022-08-02 02:00:00'
end_time = '2022-08-02 13:00:00'
filtered_df = ndf.loc[(ndf['일시'] >= start_time) & (ndf['일시'] <= end_time)]
filtered_df.sample(10)

                        일시  기온(°C)  누적강수량(mm)  습도(%)
306070 2022-08-02 05:42:00    23.5       16.0   97.8
306446 2022-08-02 12:00:00    22.4        NaN   97.8
306061 2022-08-02 05:33:00    23.5       16.0   97.8
306229 2022-08-02 08:21:00    22.9       18.0   97.8
305940 2022-08-02 03:32:00    23.8       14.5   97.8
305996 2022-08-02 04:28:00    23.6       15.5   97.8
306256 2022-08-02 08:48:00    22.9       18.0   97.8
305969 2022-08-02 04:01:00    23.6       15.5   97.8
305869 2022-08-02 02:21:00    23.9       12.0   97.7
306317 2022-08-02 09:49:00    22.9       18.5   97.7

 이번엔 누적강수량 null값이 문제

In [11]:
ndf[ndf['누적강수량(mm)'].isnull()]

                        일시  기온(°C)  누적강수량(mm)  습도(%)
68320  2022-02-17 10:46:00   -12.0        NaN   48.5
68321  2022-02-17 10:47:00   -11.7        NaN   49.3
68322  2022-02-17 10:48:00   -11.3        NaN   49.6
68323  2022-02-17 10:49:00   -11.1        NaN   49.6
68324  2022-02-17 10:50:00   -11.6        NaN   46.3
68325  2022-02-17 10:51:00   -11.5        NaN   45.7
68326  2022-02-17 10:52:00   -11.5        NaN   46.5
68327  2022-02-17 10:53:00   -11.9        NaN   45.3
68328  2022-02-17 10:54:00   -12.1        NaN   45.4
68329  2022-02-17 10:55:00   -12.1        NaN   45.5
68330  2022-02-17 10:56:00   -11.6        NaN   46.1
68331  2022-02-17 10:57:00   -11.0        NaN   46.3
68332  2022-02-17 10:58:00   -11.6        NaN   45.1
68333  2022-02-17 10:59:00   -12.3        NaN   44.2
68334  2022-02-17 11:00:00   -11.7        NaN   45.4
68335  2022-02-17 11:01:00   -11.3        NaN   46.5
68336  2022-02-17 11:02:00   -11.3        NaN   45.6
68337  2022-02-17 11:03:00   -10.9        NaN   45.5
68338  2022-02-17 11:04:00   -11.3        NaN   44.8
68339  2022-02-17 11:05:00   -11.2        NaN   44.9
68340  2022-02-17 11:06:00   -10.8        NaN   45.9
68341  2022-02-17 11:07:00   -10.9        NaN   45.4
68342  2022-02-17 11:08:00   -10.7        NaN   45.1
68343  2022-02-17 11:09:00   -10.9        NaN   44.7
68344  2022-02-17 11:10:00   -10.8        NaN   44.3
68345  2022-02-17 11:11:00   -10.4        NaN   44.7
68346  2022-02-17 11:12:00   -10.6        NaN   43.9
68347  2022-02-17 11:13:00   -10.7        NaN   44.0
68348  2022-02-17 11:14:00   -10.6        NaN   44.0
68349  2022-02-17 11:15:00   -10.7        NaN   43.7
...                    ...     ...        ...    ...
356438 2022-09-06 23:31:00    16.9        NaN   89.2
356439 2022-09-06 23:32:00    17.0        NaN   88.8
356440 2022-09-06 23:33:00    16.9        NaN   89.2
356441 2022-09-06 23:34:00    16.9        NaN   89.5
356442 2022-09-06 23:35:00    16.9        NaN   89.0
356443 2022-09-06 23:36:00    16.9        NaN   87.5
356444 2022-09-06 23:37:00    17.0        NaN   87.6
356445 2022-09-06 23:38:00    16.9        NaN   87.7
356446 2022-09-06 23:39:00    16.9        NaN   88.1
356447 2022-09-06 23:40:00    16.8        NaN   88.5
356448 2022-09-06 23:41:00    16.9        NaN   87.6
356449 2022-09-06 23:42:00    17.1        NaN   86.8
356450 2022-09-06 23:43:00    17.1        NaN   87.0
356451 2022-09-06 23:44:00    17.1        NaN   87.2
356452 2022-09-06 23:45:00    17.1        NaN   87.6
356453 2022-09-06 23:46:00    17.0        NaN   88.3
356454 2022-09-06 23:47:00    16.9        NaN   88.5
356455 2022-09-06 23:48:00    17.0        NaN   88.6
356456 2022-09-06 23:49:00    17.0        NaN   88.8
356457 2022-09-06 23:50:00    17.0        NaN   89.0
356458 2022-09-06 23:51:00    17.0        NaN   89.1
356459 2022-09-06 23:52:00    17.1        NaN   89.5
356460 2022-09-06 23:53:00    17.0        NaN   89.6
356461 2022-09-06 23:54:00    16.9        NaN   89.9
356462 2022-09-06 23:55:00    17.0        NaN   89.6
356463 2022-09-06 23:56:00    16.9        NaN   89.8
356464 2022-09-06 23:57:00    16.9        NaN   90.5
356465 2022-09-06 23:58:00    17.0        NaN   90.7
356466 2022-09-06 23:59:00    16.9        NaN   90.7
356467 2022-09-07 00:00:00    17.0        NaN   91.1

[10242 rows x 4 columns]

누적강수량의 null값은 0으로 처리
기온의 나머지 미미한 null값은 fillna 함수의 ffill옵션으로 처리

In [12]:
ndf['누적강수량(mm)'].fillna(0, inplace=True)
ndf['기온(°C)'].fillna(method = 'ffill', inplace=True)
ndf

                        일시  기온(°C)  누적강수량(mm)  습도(%)
0      2022-01-01 00:01:00   -11.9        0.0   45.9
1      2022-01-01 00:02:00   -11.9        0.0   45.7
2      2022-01-01 00:03:00   -12.0        0.0   45.6
3      2022-01-01 00:04:00   -12.0        0.0   45.6
4      2022-01-01 00:05:00   -12.0        0.0   45.2
5      2022-01-01 00:06:00   -12.0        0.0   45.0
6      2022-01-01 00:07:00   -12.0        0.0   44.8
7      2022-01-01 00:08:00   -11.9        0.0   44.8
8      2022-01-01 00:09:00   -12.0        0.0   44.9
9      2022-01-01 00:10:00   -12.0        0.0   44.7
10     2022-01-01 00:11:00   -12.0        0.0   44.9
11     2022-01-01 00:12:00   -12.0        0.0   44.9
12     2022-01-01 00:13:00   -12.0        0.0   44.4
13     2022-01-01 00:14:00   -12.0        0.0   44.1
14     2022-01-01 00:15:00   -11.9        0.0   44.1
15     2022-01-01 00:16:00   -11.9        0.0   44.4
16     2022-01-01 00:17:00   -11.9        0.0   44.8
17     2022-01-01 00:18:00   -11.9        0.0   45.0
18     2022-01-01 00:19:00   -11.9        0.0   44.9
19     2022-01-01 00:20:00   -11.9        0.0   45.0
20     2022-01-01 00:21:00   -11.9        0.0   45.1
21     2022-01-01 00:22:00   -11.9        0.0   45.2
22     2022-01-01 00:23:00   -11.9        0.0   44.7
23     2022-01-01 00:24:00   -11.9        0.0   44.3
24     2022-01-01 00:25:00   -11.9        0.0   44.3
25     2022-01-01 00:26:00   -12.0        0.0   44.9
26     2022-01-01 00:27:00   -12.0        0.0   44.8
27     2022-01-01 00:28:00   -11.9        0.0   45.0
28     2022-01-01 00:29:00   -11.9        0.0   44.7
29     2022-01-01 00:30:00   -12.0        0.0   44.2
...                    ...     ...        ...    ...
523325 2022-12-31 23:31:00    -1.7        0.0   72.6
523326 2022-12-31 23:32:00    -1.8        0.0   72.3
523327 2022-12-31 23:33:00    -1.7        0.0   71.7
523328 2022-12-31 23:34:00    -1.8        0.0   71.7
523329 2022-12-31 23:35:00    -1.8        0.0   72.4
523330 2022-12-31 23:36:00    -1.7        0.0   72.8
523331 2022-12-31 23:37:00    -1.7        0.0   72.3
523332 2022-12-31 23:38:00    -1.6        0.0   71.4
523333 2022-12-31 23:39:00    -1.6        0.0   71.0
523334 2022-12-31 23:40:00    -1.7        0.0   72.1
523335 2022-12-31 23:41:00    -1.7        0.0   72.9
523336 2022-12-31 23:42:00    -1.7        0.0   73.4
523337 2022-12-31 23:43:00    -1.7        0.0   73.9
523338 2022-12-31 23:44:00    -1.7        0.0   73.8
523339 2022-12-31 23:45:00    -1.7        0.0   73.9
523340 2022-12-31 23:46:00    -1.6        0.0   73.9
523341 2022-12-31 23:47:00    -1.6        0.0   73.9
523342 2022-12-31 23:48:00    -1.6        0.0   73.7
523343 2022-12-31 23:49:00    -1.6        0.0   73.2
523344 2022-12-31 23:50:00    -1.6        0.0   73.1
523345 2022-12-31 23:51:00    -1.7        0.0   73.8
523346 2022-12-31 23:52:00    -1.7        0.0   74.2
523347 2022-12-31 23:53:00    -1.7        0.0   75.0
523348 2022-12-31 23:54:00    -1.7        0.0   75.3
523349 2022-12-31 23:55:00    -1.7        0.0   75.8
523350 2022-12-31 23:56:00    -1.7        0.0   75.7
523351 2022-12-31 23:57:00    -1.7        0.0   76.1
523352 2022-12-31 23:58:00    -1.7        0.0   76.3
523353 2022-12-31 23:59:00    -1.7        0.0   75.7
523354 2023-01-01 00:00:00    -1.7        0.0   75.5

[523355 rows x 4 columns]

In [13]:
ndf['일시'] = pd.to_datetime(ndf['일시'])
ndf['time_str'] = ndf['일시'].dt.strftime('%Y-%m-%d %H:%M:%S')
ndf = ndf.set_index('time_str')
ndf

                                     일시  기온(°C)  누적강수량(mm)  습도(%)
time_str
2022-01-01 00:01:00 2022-01-01 00:01:00   -11.9        0.0   45.9
2022-01-01 00:02:00 2022-01-01 00:02:00   -11.9        0.0   45.7
2022-01-01 00:03:00 2022-01-01 00:03:00   -12.0        0.0   45.6
2022-01-01 00:04:00 2022-01-01 00:04:00   -12.0        0.0   45.6
2022-01-01 00:05:00 2022-01-01 00:05:00   -12.0        0.0   45.2
2022-01-01 00:06:00 2022-01-01 00:06:00   -12.0        0.0   45.0
2022-01-01 00:07:00 2022-01-01 00:07:00   -12.0        0.0   44.8
2022-01-01 00:08:00 2022-01-01 00:08:00   -11.9        0.0   44.8
2022-01-01 00:09:00 2022-01-01 00:09:00   -12.0        0.0   44.9
2022-01-01 00:10:00 2022-01-01 00:10:00   -12.0        0.0   44.7
2022-01-01 00:11:00 2022-01-01 00:11:00   -12.0        0.0   44.9
2022-01-01 00:12:00 2022-01-01 00:12:00   -12.0        0.0   44.9
2022-01-01 00:13:00 2022-01-01 00:13:00   -12.0        0.0   44.4
2022-01-01 00:14:00 2022-01-01 00:14:00   -12.0        0.0   44.1
2022-01-01 00:15:00 2022-01-01 00:15:00   -11.9        0.0   44.1
2022-01-01 00:16:00 2022-01-01 00:16:00   -11.9        0.0   44.4
2022-01-01 00:17:00 2022-01-01 00:17:00   -11.9        0.0   44.8
2022-01-01 00:18:00 2022-01-01 00:18:00   -11.9        0.0   45.0
2022-01-01 00:19:00 2022-01-01 00:19:00   -11.9        0.0   44.9
2022-01-01 00:20:00 2022-01-01 00:20:00   -11.9        0.0   45.0
2022-01-01 00:21:00 2022-01-01 00:21:00   -11.9        0.0   45.1
2022-01-01 00:22:00 2022-01-01 00:22:00   -11.9        0.0   45.2
2022-01-01 00:23:00 2022-01-01 00:23:00   -11.9        0.0   44.7
2022-01-01 00:24:00 2022-01-01 00:24:00   -11.9        0.0   44.3
2022-01-01 00:25:00 2022-01-01 00:25:00   -11.9        0.0   44.3
2022-01-01 00:26:00 2022-01-01 00:26:00   -12.0        0.0   44.9
2022-01-01 00:27:00 2022-01-01 00:27:00   -12.0        0.0   44.8
2022-01-01 00:28:00 2022-01-01 00:28:00   -11.9        0.0   45.0
2022-01-01 00:29:00 2022-01-01 00:29:00   -11.9        0.0   44.7
2022-01-01 00:30:00 2022-01-01 00:30:00   -12.0        0.0   44.2
...                                 ...     ...        ...    ...
2022-12-31 23:31:00 2022-12-31 23:31:00    -1.7        0.0   72.6
2022-12-31 23:32:00 2022-12-31 23:32:00    -1.8        0.0   72.3
2022-12-31 23:33:00 2022-12-31 23:33:00    -1.7        0.0   71.7
2022-12-31 23:34:00 2022-12-31 23:34:00    -1.8        0.0   71.7
2022-12-31 23:35:00 2022-12-31 23:35:00    -1.8        0.0   72.4
2022-12-31 23:36:00 2022-12-31 23:36:00    -1.7        0.0   72.8
2022-12-31 23:37:00 2022-12-31 23:37:00    -1.7        0.0   72.3
2022-12-31 23:38:00 2022-12-31 23:38:00    -1.6        0.0   71.4
2022-12-31 23:39:00 2022-12-31 23:39:00    -1.6        0.0   71.0
2022-12-31 23:40:00 2022-12-31 23:40:00    -1.7        0.0   72.1
2022-12-31 23:41:00 2022-12-31 23:41:00    -1.7        0.0   72.9
2022-12-31 23:42:00 2022-12-31 23:42:00    -1.7        0.0   73.4
2022-12-31 23:43:00 2022-12-31 23:43:00    -1.7        0.0   73.9
2022-12-31 23:44:00 2022-12-31 23:44:00    -1.7        0.0   73.8
2022-12-31 23:45:00 2022-12-31 23:45:00    -1.7        0.0   73.9
2022-12-31 23:46:00 2022-12-31 23:46:00    -1.6        0.0   73.9
2022-12-31 23:47:00 2022-12-31 23:47:00    -1.6        0.0   73.9
2022-12-31 23:48:00 2022-12-31 23:48:00    -1.6        0.0   73.7
2022-12-31 23:49:00 2022-12-31 23:49:00    -1.6        0.0   73.2
2022-12-31 23:50:00 2022-12-31 23:50:00    -1.6        0.0   73.1
2022-12-31 23:51:00 2022-12-31 23:51:00    -1.7        0.0   73.8
2022-12-31 23:52:00 2022-12-31 23:52:00    -1.7        0.0   74.2
2022-12-31 23:53:00 2022-12-31 23:53:00    -1.7        0.0   75.0
2022-12-31 23:54:00 2022-12-31 23:54:00    -1.7        0.0   75.3
2022-12-31 23:55:00 2022-12-31 23:55:00    -1.7        0.0   75.8
2022-12-31 23:56:00 2022-12-31 23:56:00    -1.7        0.0   75.7
2022-12-31 23:57:00 2022-12-31 23:57:00    -1.7        0.0   76.1
2022-12-31 23:58:00 2022-12-31 23:58:00    -1.7        0.0   76.3
2022-12-31 23:59:00 2022-12-31 23:59:00    -1.7        0.0   75.7
2023-01-01 00:00:00 2023-01-01 00:00:00    -1.7        0.0   75.5

[523355 rows x 4 columns]

In [14]:
ndf.loc['2022-01-01 00:01:00':'2022-04-30 23:59:00']

                                     일시  기온(°C)  누적강수량(mm)  습도(%)
time_str
2022-01-01 00:01:00 2022-01-01 00:01:00   -11.9        0.0   45.9
2022-01-01 00:02:00 2022-01-01 00:02:00   -11.9        0.0   45.7
2022-01-01 00:03:00 2022-01-01 00:03:00   -12.0        0.0   45.6
2022-01-01 00:04:00 2022-01-01 00:04:00   -12.0        0.0   45.6
2022-01-01 00:05:00 2022-01-01 00:05:00   -12.0        0.0   45.2
2022-01-01 00:06:00 2022-01-01 00:06:00   -12.0        0.0   45.0
2022-01-01 00:07:00 2022-01-01 00:07:00   -12.0        0.0   44.8
2022-01-01 00:08:00 2022-01-01 00:08:00   -11.9        0.0   44.8
2022-01-01 00:09:00 2022-01-01 00:09:00   -12.0        0.0   44.9
2022-01-01 00:10:00 2022-01-01 00:10:00   -12.0        0.0   44.7
2022-01-01 00:11:00 2022-01-01 00:11:00   -12.0        0.0   44.9
2022-01-01 00:12:00 2022-01-01 00:12:00   -12.0        0.0   44.9
2022-01-01 00:13:00 2022-01-01 00:13:00   -12.0        0.0   44.4
2022-01-01 00:14:00 2022-01-01 00:14:00   -12.0        0.0   44.1
2022-01-01 00:15:00 2022-01-01 00:15:00   -11.9        0.0   44.1
2022-01-01 00:16:00 2022-01-01 00:16:00   -11.9        0.0   44.4
2022-01-01 00:17:00 2022-01-01 00:17:00   -11.9        0.0   44.8
2022-01-01 00:18:00 2022-01-01 00:18:00   -11.9        0.0   45.0
2022-01-01 00:19:00 2022-01-01 00:19:00   -11.9        0.0   44.9
2022-01-01 00:20:00 2022-01-01 00:20:00   -11.9        0.0   45.0
2022-01-01 00:21:00 2022-01-01 00:21:00   -11.9        0.0   45.1
2022-01-01 00:22:00 2022-01-01 00:22:00   -11.9        0.0   45.2
2022-01-01 00:23:00 2022-01-01 00:23:00   -11.9        0.0   44.7
2022-01-01 00:24:00 2022-01-01 00:24:00   -11.9        0.0   44.3
2022-01-01 00:25:00 2022-01-01 00:25:00   -11.9        0.0   44.3
2022-01-01 00:26:00 2022-01-01 00:26:00   -12.0        0.0   44.9
2022-01-01 00:27:00 2022-01-01 00:27:00   -12.0        0.0   44.8
2022-01-01 00:28:00 2022-01-01 00:28:00   -11.9        0.0   45.0
2022-01-01 00:29:00 2022-01-01 00:29:00   -11.9        0.0   44.7
2022-01-01 00:30:00 2022-01-01 00:30:00   -12.0        0.0   44.2
...                                 ...     ...        ...    ...
2022-04-30 23:30:00 2022-04-30 23:30:00     5.7        0.0   97.1
2022-04-30 23:31:00 2022-04-30 23:31:00     5.7        0.0   96.9
2022-04-30 23:32:00 2022-04-30 23:32:00     5.7        0.0   96.4
2022-04-30 23:33:00 2022-04-30 23:33:00     5.7        0.0   96.1
2022-04-30 23:34:00 2022-04-30 23:34:00     5.7        0.0   95.9
2022-04-30 23:35:00 2022-04-30 23:35:00     5.7        0.0   95.9
2022-04-30 23:36:00 2022-04-30 23:36:00     5.7        0.0   95.7
2022-04-30 23:37:00 2022-04-30 23:37:00     5.7        0.0   95.1
2022-04-30 23:38:00 2022-04-30 23:38:00     5.8        0.0   95.0
2022-04-30 23:39:00 2022-04-30 23:39:00     5.7        0.0   94.3
2022-04-30 23:40:00 2022-04-30 23:40:00     5.7        0.0   93.8
2022-04-30 23:41:00 2022-04-30 23:41:00     5.8        0.0   91.9
2022-04-30 23:42:00 2022-04-30 23:42:00     5.7        0.0   92.2
2022-04-30 23:43:00 2022-04-30 23:43:00     5.7        0.0   92.3
2022-04-30 23:44:00 2022-04-30 23:44:00     5.8        0.0   89.8
2022-04-30 23:45:00 2022-04-30 23:45:00     5.8        0.0   89.7
2022-04-30 23:46:00 2022-04-30 23:46:00     5.8        0.0   87.9
2022-04-30 23:47:00 2022-04-30 23:47:00     5.9        0.0   88.4
2022-04-30 23:48:00 2022-04-30 23:48:00     6.0        0.0   78.6
2022-04-30 23:49:00 2022-04-30 23:49:00     6.1        0.0   78.1
2022-04-30 23:50:00 2022-04-30 23:50:00     6.1        0.0   80.1
2022-04-30 23:51:00 2022-04-30 23:51:00     6.1        0.0   76.3
2022-04-30 23:52:00 2022-04-30 23:52:00     6.1        0.0   77.0
2022-04-30 23:53:00 2022-04-30 23:53:00     6.1        0.0   76.8
2022-04-30 23:54:00 2022-04-30 23:54:00     6.1        0.0   76.6
2022-04-30 23:55:00 2022-04-30 23:55:00     6.0        0.0   78.6
2022-04-30 23:56:00 2022-04-30 23:56:00     6.0        0.0   76.8
2022-04-30 23:57:00 2022-04-30 23:57:00     6.1        0.0   76.6
2022-04-30 23:58:00 2022-04-30 23:58:00     6.0        0.0   79.0
2022-04-30 23:59:00 2022-04-30 23:59:00     6.0        0.0   79.5

[171891 rows x 4 columns]

In [15]:
ndf = ndf.drop(ndf.loc['2022-01-01 00:01:00':'2022-04-30 23:59:00'].index)

In [16]:
ndf_group = ndf.groupby(ndf['일시'].dt.floor('H')).agg({'기온(°C)':'mean', '누적강수량(mm)':'max', '습도(%)':'mean'})

ndf_group['시간당 강수량(mm)'] = ndf_group['누적강수량(mm)'].diff()
ndf_group['시간당 강수량(mm)'].fillna(0, inplace=True)
ndf_group['시간당 강수량(mm)'][ndf_group['시간당 강수량(mm)'] < 0] = 0
ndf_group

                        기온(°C)  누적강수량(mm)      습도(%)  시간당 강수량(mm)
일시
2022-05-01 00:00:00   6.300000        0.0  67.918333          0.0
2022-05-01 01:00:00   5.881667        0.0  67.921667          0.0
2022-05-01 02:00:00   5.725000        0.0  62.306667          0.0
2022-05-01 03:00:00   6.741667        0.0  41.215000          0.0
2022-05-01 04:00:00   6.588333        0.0  40.681667          0.0
2022-05-01 05:00:00   6.396667        0.0  44.550000          0.0
2022-05-01 06:00:00   6.103333        0.0  58.015000          0.0
2022-05-01 07:00:00   6.556667        0.0  58.060000          0.0
2022-05-01 08:00:00   8.220000        0.0  47.110000          0.0
2022-05-01 09:00:00   9.716667        0.0  42.706667          0.0
2022-05-01 10:00:00  10.508333        0.0  39.625000          0.0
2022-05-01 11:00:00  11.840000        0.0  29.635000          0.0
2022-05-01 12:00:00  11.685000        0.0  25.201667          0.0
2022-05-01 13:00:00  11.808333        0.0  24.208333          0.0
2022-05-01 14:00:00  12.236667        0.0  26.063333          0.0
2022-05-01 15:00:00  12.216667        0.0  27.778333          0.0
2022-05-01 16:00:00  11.016667        0.0  38.275000          0.0
2022-05-01 17:00:00   9.656667        0.0  42.683333          0.0
2022-05-01 18:00:00   8.845000        0.0  51.781667          0.0
2022-05-01 19:00:00   7.863333        0.0  68.123333          0.0
2022-05-01 20:00:00   7.386667        0.0  77.520000          0.0
2022-05-01 21:00:00   6.823333        0.0  86.053333          0.0
2022-05-01 22:00:00   6.358333        0.0  92.430000          0.0
2022-05-01 23:00:00   6.326667        0.0  94.250000          0.0
2022-05-02 00:00:00   6.285000        0.0  94.866667          0.0
2022-05-02 01:00:00   6.383333        0.0  92.461667          0.0
2022-05-02 02:00:00   6.756667        0.0  87.421667          0.0
2022-05-02 03:00:00   7.326667        0.0  72.745000          0.0
2022-05-02 04:00:00   7.991667        0.0  59.918333          0.0
2022-05-02 05:00:00   8.261667        0.0  52.805000          0.0
...                        ...        ...        ...          ...
2022-12-30 19:00:00  -6.418333        0.0  65.411667          0.0
2022-12-30 20:00:00  -7.086667        0.0  71.378333          0.0
2022-12-30 21:00:00  -7.291667        0.0  72.626667          0.0
2022-12-30 22:00:00  -7.318333        0.0  66.186667          0.0
2022-12-30 23:00:00  -7.401667        0.0  61.980000          0.0
2022-12-31 00:00:00  -7.110000        0.0  47.871667          0.0
2022-12-31 01:00:00  -6.590000        0.0  44.531667          0.0
2022-12-31 02:00:00  -6.471667        0.0  42.755000          0.0
2022-12-31 03:00:00  -6.331667        0.0  46.353333          0.0
2022-12-31 04:00:00  -6.278333        0.0  50.608333          0.0
2022-12-31 05:00:00  -6.316667        0.0  47.320000          0.0
2022-12-31 06:00:00  -5.928333        0.0  61.633333          0.0
2022-12-31 07:00:00  -5.908333        0.0  66.460000          0.0
2022-12-31 08:00:00  -5.793333        0.0  76.528333          0.0
2022-12-31 09:00:00  -4.996667        0.0  87.951667          0.0
2022-12-31 10:00:00  -3.971667        0.0  88.605000          0.0
2022-12-31 11:00:00  -3.770000        0.0  88.490000          0.0
2022-12-31 12:00:00  -3.311667        0.0  88.300000          0.0
2022-12-31 13:00:00  -2.921667        0.0  89.686667          0.0
2022-12-31 14:00:00  -2.468333        0.0  87.448333          0.0
2022-12-31 15:00:00  -1.883333        0.0  78.408333          0.0
2022-12-31 16:00:00  -1.231667        0.0  68.151667          0.0
2022-12-31 17:00:00  -1.875000        0.0  66.003333          0.0
2022-12-31 18:00:00  -2.098333        0.0  67.443333          0.0
2022-12-31 19:00:00  -2.055000        0.0  64.730000          0.0
2022-12-31 20:00:00  -2.038333        0.0  66.220000          0.0
2022-12-31 21:00:00  -2.095000        0.0  69.988333          0.0
2022-12-31 22:00:00  -2.026667        0.0  73.450000          0.0
2022-12-31 23:00:00  -1.781667        0.0  73.516667          0.0
2023-01-01 00:00:00  -1.700000        0.0  75.500000          0.0

[5863 rows x 4 columns]

In [17]:
ndf_group.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5863 entries, 2022-05-01 00:00:00 to 2023-01-01 00:00:00
Data columns (total 4 columns):
기온(°C)         5863 non-null float64
누적강수량(mm)      5863 non-null float64
습도(%)          5863 non-null float64
시간당 강수량(mm)    5863 non-null float64
dtypes: float64(4)
memory usage: 229.0 KB

위 null값 없음 최종 확인