In [1]:
import pandas as pd
filepath = r'C:\project\guro_semi\data\서울교통공사_역별 일별 시간대별 승하차인원 정보.csv'
df = pd.read_csv(filepath, encoding='ANSI')

C:\Users\mase8\AppData\Local\Temp\ipykernel_19004\2484321086.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, encoding='ANSI')

In [2]:
df

,연번,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,...,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후
0,1,2022-05-01,1호선,150,서울역,승차,184,193,328,677,...,2844,2828,2987,2619,2648,2409,2494,1902,669,NaN
1,2,2022-05-01,1호선,150,서울역,하차,139,655,842,1066,...,2636,2555,2770,2626,2196,1844,1344,752,376,NaN
2,3,2022-05-01,1호선,151,시청,승차,61,67,124,162,...,1164,1422,1251,1257,890,861,634,387,129,NaN
3,4,2022-05-01,1호선,151,시청,하차,77,250,336,652,...,598,534,506,351,251,211,167,88,114,NaN
4,5,2022-05-01,1호선,152,종각,승차,211,120,115,203,...,1848,2360,2690,2638,1989,1983,1874,1145,475,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198926,198927,2023-04-30,8호선,2826,수진,하차,15,54,65,85,...,239,217,277,241,254,198,254,222,117,12.0
198927,198928,2023-04-30,8호선,2827,모란,승차,54,82,73,124,...,271,241,218,204,175,153,148,126,70,1.0
198928,198929,2023-04-30,8호선,2827,모란,하차,13,84,63,78,...,177,228,200,235,235,181,147,128,54,17.0
198929,198930,2023-04-30,8호선,2828,남위례,승차,23,71,89,163,...,241,331,246,249,175,165,170,132,62,0.0
198930,198931,2023-04-30,8호선,2828,남위례,하차,15,71,69,132,...,285,406,359,326,307,224,205,159,151,0.0

In [3]:
ndf = df.copy()

In [4]:
ndf = ndf.set_index('연번')
ndf

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후
연번,,,,,,,,,,,,,,,,,,,,,
1,2022-05-01,1호선,150,서울역,승차,184,193,328,677,1120,...,2844,2828,2987,2619,2648,2409,2494,1902,669,NaN
2,2022-05-01,1호선,150,서울역,하차,139,655,842,1066,1547,...,2636,2555,2770,2626,2196,1844,1344,752,376,NaN
3,2022-05-01,1호선,151,시청,승차,61,67,124,162,211,...,1164,1422,1251,1257,890,861,634,387,129,NaN
4,2022-05-01,1호선,151,시청,하차,77,250,336,652,1064,...,598,534,506,351,251,211,167,88,114,NaN
5,2022-05-01,1호선,152,종각,승차,211,120,115,203,200,...,1848,2360,2690,2638,1989,1983,1874,1145,475,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198927,2023-04-30,8호선,2826,수진,하차,15,54,65,85,131,...,239,217,277,241,254,198,254,222,117,12.0
198928,2023-04-30,8호선,2827,모란,승차,54,82,73,124,199,...,271,241,218,204,175,153,148,126,70,1.0
198929,2023-04-30,8호선,2827,모란,하차,13,84,63,78,132,...,177,228,200,235,235,181,147,128,54,17.0
198930,2023-04-30,8호선,2828,남위례,승차,23,71,89,163,230,...,241,331,246,249,175,165,170,132,62,0.0
198931,2023-04-30,8호선,2828,남위례,하차,15,71,69,132,191,...,285,406,359,326,307,224,205,159,151,0.0

In [5]:
ndf.info() # 24시 이후 데이터 결측치. 하지만 분석 대상 시간에서 벗어남

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198931 entries, 1 to 198931
Data columns (total 25 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   수송일자          198931 non-null  object
 1   호선            198931 non-null  object
 2   고유역번호(외부역코드)  198931 non-null  object
 3   역명            198931 non-null  object
 4   승하차구분         198931 non-null  object
 5   06시이전         198931 non-null  int64
 6   06-07시간대      198931 non-null  int64
 7   07-08시간대      198931 non-null  int64
 8   08-09시간대      198931 non-null  int64
 9   09-10시간대      198931 non-null  int64
 10  10-11시간대      198931 non-null  int64
 11  11-12시간대      198931 non-null  int64
 12  12-13시간대      198931 non-null  int64
 13  13-14시간대      198931 non-null  int64
 14  14-15시간대      198931 non-null  int64
 15  15-16시간대      198931 non-null  int64
 16  16-17시간대      198931 non-null  int64
 17  17-18시간대      198931 non-null  int64
 18  18-19시간대      198931 non-null  int64
 19  19-20시간대      198931 non-null  int64
 20  20-21시간대      198931 non-null  int64
 21  21-22시간대      198931 non-null  int64
 22  22-23시간대      198931 non-null  int64
 23  23-24시간대      198931 non-null  int64
 24  24시이후         182019 non-null  float64
dtypes: float64(1), int64(19), object(5)
memory usage: 39.5+ MB

In [6]:
ndf.isnull().sum()

수송일자                0
호선                  0
고유역번호(외부역코드)        0
역명                  0
승하차구분               0
06시이전               0
06-07시간대            0
07-08시간대            0
08-09시간대            0
09-10시간대            0
10-11시간대            0
11-12시간대            0
12-13시간대            0
13-14시간대            0
14-15시간대            0
15-16시간대            0
16-17시간대            0
17-18시간대            0
18-19시간대            0
19-20시간대            0
20-21시간대            0
21-22시간대            0
22-23시간대            0
23-24시간대            0
24시이후           16912
dtype: int64

### 결측치 처리 - 24이후 이용자 없음으로 추정되어 0으로 결측치 처리

In [7]:
ndf = ndf.fillna(0)
ndf.isnull().sum()

수송일자            0
호선              0
고유역번호(외부역코드)    0
역명              0
승하차구분           0
06시이전           0
06-07시간대        0
07-08시간대        0
08-09시간대        0
09-10시간대        0
10-11시간대        0
11-12시간대        0
12-13시간대        0
13-14시간대        0
14-15시간대        0
15-16시간대        0
16-17시간대        0
17-18시간대        0
18-19시간대        0
19-20시간대        0
20-21시간대        0
21-22시간대        0
22-23시간대        0
23-24시간대        0
24시이후           0
dtype: int64

In [8]:
ndf['수송일자'] = pd.to_datetime(ndf['수송일자'])
ndf['수송일자']

연번
1        2022-05-01
2        2022-05-01
3        2022-05-01
4        2022-05-01
5        2022-05-01
            ...
198927   2023-04-30
198928   2023-04-30
198929   2023-04-30
198930   2023-04-30
198931   2023-04-30
Name: 수송일자, Length: 198931, dtype: datetime64[ns]

In [9]:
ndf['요일'] = ndf['수송일자'].dt.weekday
ndf

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,요일
연번,,,,,,,,,,,,,,,,,,,,,
1,2022-05-01,1호선,150,서울역,승차,184,193,328,677,1120,...,2828,2987,2619,2648,2409,2494,1902,669,0.0,6
2,2022-05-01,1호선,150,서울역,하차,139,655,842,1066,1547,...,2555,2770,2626,2196,1844,1344,752,376,0.0,6
3,2022-05-01,1호선,151,시청,승차,61,67,124,162,211,...,1422,1251,1257,890,861,634,387,129,0.0,6
4,2022-05-01,1호선,151,시청,하차,77,250,336,652,1064,...,534,506,351,251,211,167,88,114,0.0,6
5,2022-05-01,1호선,152,종각,승차,211,120,115,203,200,...,2360,2690,2638,1989,1983,1874,1145,475,0.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198927,2023-04-30,8호선,2826,수진,하차,15,54,65,85,131,...,217,277,241,254,198,254,222,117,12.0,6
198928,2023-04-30,8호선,2827,모란,승차,54,82,73,124,199,...,241,218,204,175,153,148,126,70,1.0,6
198929,2023-04-30,8호선,2827,모란,하차,13,84,63,78,132,...,228,200,235,235,181,147,128,54,17.0,6
198930,2023-04-30,8호선,2828,남위례,승차,23,71,89,163,230,...,331,246,249,175,165,170,132,62,0.0,6
198931,2023-04-30,8호선,2828,남위례,하차,15,71,69,132,191,...,406,359,326,307,224,205,159,151,0.0,6

In [10]:
ndf.loc[ndf['요일'].isin([5, 6]), '휴무일'] = '주말'
ndf.loc[ndf['요일'].isin([0,1,2,3,4]), '휴무일'] = '주중'
ndf

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,요일,휴무일
연번,,,,,,,,,,,,,,,,,,,,,
1,2022-05-01,1호선,150,서울역,승차,184,193,328,677,1120,...,2987,2619,2648,2409,2494,1902,669,0.0,6,주말
2,2022-05-01,1호선,150,서울역,하차,139,655,842,1066,1547,...,2770,2626,2196,1844,1344,752,376,0.0,6,주말
3,2022-05-01,1호선,151,시청,승차,61,67,124,162,211,...,1251,1257,890,861,634,387,129,0.0,6,주말
4,2022-05-01,1호선,151,시청,하차,77,250,336,652,1064,...,506,351,251,211,167,88,114,0.0,6,주말
5,2022-05-01,1호선,152,종각,승차,211,120,115,203,200,...,2690,2638,1989,1983,1874,1145,475,0.0,6,주말
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198927,2023-04-30,8호선,2826,수진,하차,15,54,65,85,131,...,277,241,254,198,254,222,117,12.0,6,주말
198928,2023-04-30,8호선,2827,모란,승차,54,82,73,124,199,...,218,204,175,153,148,126,70,1.0,6,주말
198929,2023-04-30,8호선,2827,모란,하차,13,84,63,78,132,...,200,235,235,181,147,128,54,17.0,6,주말
198930,2023-04-30,8호선,2828,남위례,승차,23,71,89,163,230,...,246,249,175,165,170,132,62,0.0,6,주말
198931,2023-04-30,8호선,2828,남위례,하차,15,71,69,132,191,...,359,326,307,224,205,159,151,0.0,6,주말

In [11]:
ndf['휴무일'].value_counts() # 공휴일도 확인해야 함

주중    141711
주말     57220
Name: 휴무일, dtype: int64

In [12]:
ndf['24시이후'].astype('int')

연번
1          0
2          0
3          0
4          0
5          0
          ..
198927    12
198928     1
198929    17
198930     0
198931     0
Name: 24시이후, Length: 198931, dtype: int32

In [15]:
ndf['총 이용인원'] = ndf.loc[:,'06시이전':'24시이후'].sum(axis=1).astype('int')
ndf

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,요일,휴무일,총 이용인원
연번,,,,,,,,,,,,,,,,,,,,,
1,2022-05-01,1호선,150,서울역,승차,184,193,328,677,1120,...,2619,2648,2409,2494,1902,669,0.0,6,주말,33880
2,2022-05-01,1호선,150,서울역,하차,139,655,842,1066,1547,...,2626,2196,1844,1344,752,376,0.0,6,주말,31237
3,2022-05-01,1호선,151,시청,승차,61,67,124,162,211,...,1257,890,861,634,387,129,0.0,6,주말,11449
4,2022-05-01,1호선,151,시청,하차,77,250,336,652,1064,...,351,251,211,167,88,114,0.0,6,주말,13167
5,2022-05-01,1호선,152,종각,승차,211,120,115,203,200,...,2638,1989,1983,1874,1145,475,0.0,6,주말,22293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198927,2023-04-30,8호선,2826,수진,하차,15,54,65,85,131,...,241,254,198,254,222,117,12.0,6,주말,3381
198928,2023-04-30,8호선,2827,모란,승차,54,82,73,124,199,...,204,175,153,148,126,70,1.0,6,주말,3380
198929,2023-04-30,8호선,2827,모란,하차,13,84,63,78,132,...,235,235,181,147,128,54,17.0,6,주말,2782
198930,2023-04-30,8호선,2828,남위례,승차,23,71,89,163,230,...,249,175,165,170,132,62,0.0,6,주말,3947
198931,2023-04-30,8호선,2828,남위례,하차,15,71,69,132,191,...,326,307,224,205,159,151,0.0,6,주말,4109

In [16]:
ndf.columns

Index(['수송일자', '호선', '고유역번호(외부역코드)', '역명', '승하차구분', '06시이전', '06-07시간대',
       '07-08시간대', '08-09시간대', '09-10시간대', '10-11시간대', '11-12시간대', '12-13시간대',
       '13-14시간대', '14-15시간대', '15-16시간대', '16-17시간대', '17-18시간대', '18-19시간대',
       '19-20시간대', '20-21시간대', '21-22시간대', '22-23시간대', '23-24시간대', '24시이후',
       '요일', '휴무일', '총 이용인원'],
      dtype='object')

In [17]:
col = ['수송일자', '호선', '고유역번호(외부역코드)', '역명', '승하차구분', '06시이전', '06-07시간대',
       '07-08시간대', '08-09시간대', '09-10시간대', '10-11시간대', '11-12시간대', '12-13시간대',
       '13-14시간대', '14-15시간대', '15-16시간대', '16-17시간대', '17-18시간대', '18-19시간대',
       '19-20시간대', '20-21시간대', '21-22시간대', '22-23시간대', '23-24시간대', '24시이후','총 이용인원',
       '요일', '휴무일']
ndf = ndf.loc[:,col]
ndf

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,총 이용인원,요일,휴무일
연번,,,,,,,,,,,,,,,,,,,,,
1,2022-05-01,1호선,150,서울역,승차,184,193,328,677,1120,...,2619,2648,2409,2494,1902,669,0.0,33880,6,주말
2,2022-05-01,1호선,150,서울역,하차,139,655,842,1066,1547,...,2626,2196,1844,1344,752,376,0.0,31237,6,주말
3,2022-05-01,1호선,151,시청,승차,61,67,124,162,211,...,1257,890,861,634,387,129,0.0,11449,6,주말
4,2022-05-01,1호선,151,시청,하차,77,250,336,652,1064,...,351,251,211,167,88,114,0.0,13167,6,주말
5,2022-05-01,1호선,152,종각,승차,211,120,115,203,200,...,2638,1989,1983,1874,1145,475,0.0,22293,6,주말
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198927,2023-04-30,8호선,2826,수진,하차,15,54,65,85,131,...,241,254,198,254,222,117,12.0,3381,6,주말
198928,2023-04-30,8호선,2827,모란,승차,54,82,73,124,199,...,204,175,153,148,126,70,1.0,3380,6,주말
198929,2023-04-30,8호선,2827,모란,하차,13,84,63,78,132,...,235,235,181,147,128,54,17.0,2782,6,주말
198930,2023-04-30,8호선,2828,남위례,승차,23,71,89,163,230,...,249,175,165,170,132,62,0.0,3947,6,주말
198931,2023-04-30,8호선,2828,남위례,하차,15,71,69,132,191,...,326,307,224,205,159,151,0.0,4109,6,주말

In [19]:
ndf['요일'] = ndf['수송일자'].dt.strftime('%a')
ndf

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,총 이용인원,요일,휴무일
연번,,,,,,,,,,,,,,,,,,,,,
1,2022-05-01,1호선,150,서울역,승차,184,193,328,677,1120,...,2619,2648,2409,2494,1902,669,0.0,33880,Sun,주말
2,2022-05-01,1호선,150,서울역,하차,139,655,842,1066,1547,...,2626,2196,1844,1344,752,376,0.0,31237,Sun,주말
3,2022-05-01,1호선,151,시청,승차,61,67,124,162,211,...,1257,890,861,634,387,129,0.0,11449,Sun,주말
4,2022-05-01,1호선,151,시청,하차,77,250,336,652,1064,...,351,251,211,167,88,114,0.0,13167,Sun,주말
5,2022-05-01,1호선,152,종각,승차,211,120,115,203,200,...,2638,1989,1983,1874,1145,475,0.0,22293,Sun,주말
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198927,2023-04-30,8호선,2826,수진,하차,15,54,65,85,131,...,241,254,198,254,222,117,12.0,3381,Sun,주말
198928,2023-04-30,8호선,2827,모란,승차,54,82,73,124,199,...,204,175,153,148,126,70,1.0,3380,Sun,주말
198929,2023-04-30,8호선,2827,모란,하차,13,84,63,78,132,...,235,235,181,147,128,54,17.0,2782,Sun,주말
198930,2023-04-30,8호선,2828,남위례,승차,23,71,89,163,230,...,249,175,165,170,132,62,0.0,3947,Sun,주말
198931,2023-04-30,8호선,2828,남위례,하차,15,71,69,132,191,...,326,307,224,205,159,151,0.0,4109,Sun,주말

In [20]:
data = ndf.copy()

In [22]:
data.to_csv(r'C:\project\guro_semi\data\전처리\지하철_일별합계_요일_주말.csv')